<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Flash Jive UI demo</title>
    <script type="text/javascript" src="swfobject.js"></script>
    <script type="text/javascript" src="swffit.js"></script>
    <script type="text/javascript">
        swfobject.embedSWF("all-in-one-hml.swf", "my_flash", "550", "400", "10.0.0");
        swffit.fit("my_flash"); //Since v2.3 swffit use the same size of swfobject by default (but you can set a new size if you want)
    </script>
    <style type="text/css">
        body{
            background-color: #29abe2; /*ps: change this value to the same background color of your flash movie*/
        }
    </style>
</head>
<body>
<div id="my_flash">
    <a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" title="Get Adobe Flash player" /></a><br />
    You need <a href="http://www.adobe.com/go/getflashplayer">Flash Player 8</a> and allow javascript to see the content of this site..
</div>
</body>
</html>